
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing:0 ;


}

arriba {
   background-color: #333 ;
  background-color: #333 ;
  color: #fff ;
  padding: 20px ;
  text-align: center ;
}

body {
    background-color: #f3f4f5;
    color:black;
    display: flex   ;
    flex-direction: column ;

}
header {
    background-color: #333 ;
    color: #fff ;
    padding: 20px ;
    text-align: center ;
}

nav a    {
    background-color: #555 ;
    color: #fff ;
    padding: 10px ;
    text-align: center ;
}   

nav ul {
    list-style-type: none ;
    display: flex ;
    justify-content: center ;
}
main {
    padding: 20px ;
    display: flex ;
    flex-direction: column ;
    gap: 20px ;
}

.contenido {
    background-color: #fff ;
    padding: 20px ;
    border-radius: 5px ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}   

aside {
    background-color: #fff ;
    padding: 20px ;
    border-radius: 5px ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) ;
}
footer {
    background-color: #333 ;
    color: #fff ;
    padding: 20px ;
    text-align: center ;
}   

